<form action="submit" (ngSubmit)="onSubmit($event)">
    <p><label for="">Initial Investment</label>
        <input type="number" name="input_initialInvestement" id="input_initialInvestement" [(ngModel)]="input_initialInvestement">
    </p>
    <p> <label for="">Annual Investment</label>
        <input type="number" name="input_annualInvestment" id="input_annualInvestment" [(ngModel)]="input_annualInvestment">
    </p>
    <p> <label for="">Expected Return</label>
        <input type="number" name="input_expetedInvestment" id="input_expetedInvestment" [(ngModel)]="input_expetedInvestment">
    </p>
    <p><label for="">Duration</label>
        <input type="number" name="input_duration" id="input_duration" [(ngModel)]="input_duration">
    </p>

    <button>Calculate</button>
</form>